/* three.css */
#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sidebar {
    padding: 20px;
    overflow-y: auto;
}

#canvas-container {
    flex: 1;
    position: relative;
}

#threejs-canvas {
    width: 100%;
}