<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOGUI.ai</title>
    <link rel="stylesheet" href="/static/css/dogui_style.css">
    <link rel="stylesheet" href="/static/css/engineering.css">
    <script src="/static/js/chatbot.js" defer></script>

    <script type="importmap">
        {
            "imports": {
                "three": "/node_modules/three/build/three.module.js",
            }
        }
    </script>
</head>
<body>
    <div class="content">
        {% include 'includes/user-nav.html' %}

        <div class="page-content">
            <img class="ai-logo" src="/static/img/dogui_ai_logo.png" alt="DOGUI AI Logo">
            
            <h1>Assistant Chat</h1>

            <!-- chat display area -->
            <div id="chat-container">
                <div id="chat-messages"></div>
            </div>

            <!-- chat input -->
            <div id="chat-input">
                <input type="text" id="userMessage" placeholder="Type your message..." />
                <button id="sendButton">Send</button>
            </div>
        </div>
    </div>
</body>
</html>
