<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOGUI.ai</title>
    <link rel="stylesheet" href="/static/css/dogui_style.css">
    <link rel="stylesheet" href="/static/css/engineering.css">

    <script type="importmap">
        {
            "imports": {
                "three": "/node_modules/three/build/three.module.js",
            }
        }
    </script>
</head>
<body>
    <div class="content">
        {% include 'includes/user-nav.html' %}
        <div class="page-content">
            <h1>{{ user.username }}'s Projects:</h1>
        </div>
    </div>
</body>
</html>
