<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOGUI.ai</title>
    <link rel="stylesheet" href="/static/css/dogui_style.css">
    {% block css %}{% endblock %}
    <script type="importmap">
        {
            "imports": {
                "three": "/node_modules/three/build/three.module.js",
                "three-orbitcontrols": "/node_modules/three/examples/jsm/controls/OrbitControls.js"
            }
        }
    </script>
</head>
<body>
    <div class="content">
        {% block nav %}{% include 'includes/nav.html' %}{% endblock %}
        {% if not hide_page_content %}
        <div class="page-content transition-target" id="main-content">
            {% block content %}{% endblock %}
        </div>
        {% endif %}
    </div>
    
    <audio id="sound1" src="/static/audio/back.mp3" preload="auto"></audio>
    <audio id="sound2" src="/static/audio/Next.mp3" preload="auto"></audio>
    
    <script src="/static/js/dogui.js"></script>
    {% block js %}{% endblock %}
</body>
</html>