<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOGUI.ai</title>
    <link rel="stylesheet" href="/static/css/dogui_style.css">
    <link rel="stylesheet" href="/static/css/home.css">

    <script type="importmap">
        {
            "imports": {
                "three": "/node_modules/three/build/three.module.js",
                "three-orbitcontrols": "/node_modules/three/examples/jsm/controls/OrbitControls.js"
            }
        }
    </script>
</head>
<body>
    <div class="content">
        {% include 'includes/nav.html' %}
    </div>

    <script type="module" src="/static/js/homepage.js"></script>
</body>
</html>
