<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/dogui_ai_logo.png">
    <title>{% block title %}{% endblock %}DOGUI.ai</title>
    <link rel="stylesheet" href="/static/css/dogui_style.css">
    {% block css %}{% endblock %}
    <script type="module" src="/static/js/three.bundle.js"></script>
</head>
<body>
    <div class="content">
        {% block nav %}
            {% include 'includes/nav.html' %}
        {% endblock %}
        {% block content %}
            <div class="page-content">
                
            </div>
        {% endblock %}
    </div>
    
    <audio id="sound1" src="/static/audio/back.mp3" preload="auto"></audio>
    <audio id="sound2" src="/static/audio/Next.mp3" preload="auto"></audio>
    
    <script src="/static/js/dogui.js"></script>
    {% block js %}{% endblock %}
</body>
</html>